<div class="title">Secrets#maker</div>
<div class="input">
  <%= form_tag(:action => "show") do %>
  <%= text_area :page, :text ,:size => "20x10", :maxlength => "20" %>
  <%= text_field :passform, :password %>
  <%= radio_button :code_flg, 0, {:checked => true} %> encode
  <%= radio_button :code_flg, 1, {} %> decode
  <%= submit_tag "作成" %>
  <% end %>
</div>

